<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="archer.handietalkie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".MyApplcation"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".views.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.CityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_city"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="archer.handietalkie.MainActivity" />
        </activity>
        <activity
            android:name=".views.AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="archer.handietalkie.MainActivity" />
        </activity>

        <service android:name=".components.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".components.sync.StubProvider"
            android:authorities="archer.handietalkie.components.sync"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".components.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name=".views.CityFacilities"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_city"
            android:parentActivityName=".views.CityActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="archer.handietalkie.views.CityActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cbeaae8dbcb3443d33f379ab1394b6d13e78143e" />
    </application>

</manifest>